*{
    box-sizing: border-box;
    text-align: center;
}

Body{
    background-color: #777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-right: 250px;
}

#header{
    background: #ebebeb;
    width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
}

#nav{
    background: #ebebeb;
    width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
}

#section{
    background: #ebebeb;
    width: 630px;
    padding-top: 30px;
    padding-bottom: 215px;
    margin-bottom: 20px;
    position: relative;
}

#aside{
    background: #ebebeb;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 215px;
    margin-bottom: 20px;
    position: absolute;
    top: 0px;
    right: -320px;
}

#article{
    background: #777;
    width: 600px;
    position: absolute;
    right: 15px;
    left: 15px;
    padding-top: 20px;
    padding-bottom: 120px;
    margin-top: 20px;
}

#h1{
    background: #ebebeb;
    width: 570px;
    position: absolute;
    right: 15px;
    left: 15px;
    top: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#p{
    background: #ebebeb;
    width: 570px;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer{
    background: #ebebeb;
    width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    position: relative;
}